html{
background-color:pink;
border-left: red thick dotted;
border-width: 30px;
}

h1{
color:red;
text-decoration:underline;
font-size:50px;
background-color:lightblue;
border-bottom:dotted;
border-width:25px;
}



p{
color:blue;
text-decoration:underline;
border-top:dotted;
border-color:green;
}

h2{
color:white;
background-color:blue;
}

body{
outline-style:groove;
outline-color:yellow;
outline-width:10px;
}

footer{
font-size:24px;
border-top:dotted;
border-color:green;
color:blue
}
